.stopwatch--wrapper{
   width:100%;
}
.stopwatch--btn{
    font-size:1.2rem;
    width:100%;
    margin:0 0.5rem;
    padding:0.5rem;
    border-radius:0.5rem;
    border:none;
    cursor:pointer;
    background:rgba(34, 33, 33, 1);
     transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.stopwatch--btn:hover{
    background:rgba(24,24,27,1)
   
}
.hhmmss--size{
    font-size:8rem;
    font-style:bold;
}
.milisecond--size{
    width:10rem;
}
@media only screen and (max-width: 600px) {
 .hhmmss--size{
    font-size:5rem;
    font-style:bold;
}
.stopwatch--wrapper{
   width:100%;
   margin-bottom:2rem;
}
}