.layout-wrapper{
    display:flex;
    height:100vh;
    color:white;
}
.layout-main-wrapper{
    padding:1rem;
    width:100%;
}

.layout-content {
  display: flex;         /* makes justify-content work */
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
  flex: 1 1 0%;
}