.layout-wrapper{
    display:flex;
    height:100vh;
    color:white;
}
.layout-main-wrapper{
    padding:1rem;
    width:100%;
}
.layout-content{
 
  padding: 1rem;
  overflow-y: auto;
}
.layout--name{
  positon:absolute;
  top:0;
  left:50%;
  right:-50%;
}


@media only screen and (min-width: 786px){
.layout-content {
  display: flex;         /* makes justify-content work */
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
  flex: 1 1 0%;
}
}