.sbDesktop-wrapper,
.sbDesktop-wrapClose {
  height: 100vh;
  background-color: rgba(24, 24, 22, 1);
  color: #ffffff;
  padding: 1rem;
  z-index:1;
  
  overflow: visible;
  transition: width 0.4s ease;
}
.sbDesktop-wrapper {
  width: 9rem;
}

.sbDesktop-wrapClose {  
  width: 3.2rem;

}
.curtainWrap{
    display:flex;
    position:relative;
    justify-content:flex-end;
}
.curtainImgWrap{
    position:relative;
    left:8px;
    cursor:pointer;
}
.sbDesktop-ul{
    margin-top:2rem;
    list-style-type: none;
    width:100%; 
}
.sbDesktop-li{
    padding:0.3rem;
    width:100%;
    display:flex;
    border-radius:1rem;
    margin: 1rem 0;
    text-align:center;
}
.sbDesktop-liClose{
    padding-right:8px;
    display:flex;
    align-items:center;
    margin-bottom:10px;
    
   

}
.sbDesktop-ul span {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.sbDesktop-link {
  display: flex;      
  align-items: center;    
  justify-content: center;
  width: 100%;            
  height: 100%;           
  text-decoration: none;
  color: inherit;    
}
.sbDesktop-wrapClose .sbDesktop-ul span {
  opacity: 0; 
}
.sbDesktop-li:active {
  transform: scale(0.97);
  background:rgba(24,24,27,1)
}
.sbDesktop-li:hover{
  background-color: rgba(38, 54, 88, 0.9);

}
.sbDesktop-liClose:hover{
  width:100%;
  hegith:100%;
  
  border-right:0.5px solid red;
  
}