.sbDesktop-wrapper{
width: 9rem;      
height:100vh;      
  background-color: #3d3c04ff; 
  color: #ffffff;            
  padding: 1rem;        
   transition:width 0.6s ease-out;     
}
.curtainWrap{
    display:flex;
    position:relative;
    justify-content:flex-end;
}
.curtainImgWrap{
    position:relative;
    left:8px;
    cursor:pointer;
}
.sbDesktop-ul{
    margin-top:2rem;
    list-style-type: none;
    width:100%; 
}
.sbDesktop-li{
    padding:0.3rem;
    width:100%;
    border:1px solid red;
    border-radius:1rem;
    margin: 1rem 0;
    text-align:center;
}
.sbDesktop-wrapClose{
    width: 2.5rem;    
     transition:width 0.6s ease-in;  
  height:100vh;      
  background-color: #1b362cff; 
  color: #ffffff;            
  padding: 1rem;   
  overflow:hidden;
}
.sbDesktop-li:hover{
    background-color: #263658ff;
}