.customPanel {
    display:none;
    height:100%;
    padding: 20px;
    width:25rem;
}
.tablist--wrapper{
    margin-top:1rem;
    /* border-bottom:1px dashed ; */
    display:flex;
    margin:0 8px;
    overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.selectedPanel{
    
    display:block;
    

}
.customTab{
    padding:0.4rem;
    list-style-type:none;
    cursor:pointer;
    background:transparent;
    transition:background 0.3s ease-out;
    border-radius:0.5rem;
}
.selectedTab{
    border:none;
    background:rgba(59, 80, 80, 0.4);
    transition:background 0.3s ease-in;
    border-radius:0.5rem;
}

.inputNumber{
    padding:0.5rem;
    width:100%;
   line-height: 0.6rem;
   border-radius:0.5rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}
.btn {
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  width:100%;
  margin-top:1rem;
  cursor: pointer;
  font-size: 1rem;
}
.btn--primary{
background-color: #62dee2ff;
  color: #363636ff;

}
.btn--primary:hover{
  background-color: #59c0c5ff;
  transform:translateY(-2%);
}